# Environment variables (VERY IMPORTANT)
Frontend/.env

# Python cache files
__pycache__/
*.pyc

# Django stuff
db.sqlite3
media/

# Node modules (frontend)
node_modules/

# OS files
.DS_Store

# VS Code
.vscode/